# Ignore node_modules and build directories
node_modules/
build/

# Ignore .DS_Store files (macOS specific)
.DS_Store

# Ignore Visual Studio Code temporary files
.vscode/

# Ignore npm and yarn temporary files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore files containing personal or confidential data (e.g., .env)
.env
.env.local
.env.*.local

# Ignore files with names ending in .swp (created by Vim)
*.swp
